<form class="form-calculator">
    <input type="checkbox" id="micheck" [checked]="checkProperty" (click)="habilita()"> {{statusCheckProperty}}<br/>
    <h1 id="titulo">{{title}} </h1> <br/>
    <input type="number" class="controler" [disabled]="disabledProperty" [(ngModel)]="num1" name="num1"><br/>
    <input type="number" class="controler" [disabled]="disabledProperty" [(ngModel)]="num2" name="num2"><br/>
    <p id="result">Resultado: {{resu}}</p>
    <div class="operadores">
        <input type="button" class="operador" value="suma" [disabled]="disabledProperty" (click)="suma()" />
        <input type="button" class="operador" value="resta" [disabled]="disabledProperty" (click)="resta()">
        <input type="button" class="operador " value="multiplicacion" [disabled]="disabledProperty" (click)="multiplicacion()">
    </div>
</form>